[submodule "monero-sys/monero"]
	path = monero-sys/monero
	url = https://github.com/SNeedlewoods/seraphis_wallet.git
	branch = x_api_add_new_functions_release
[submodule "monero-sys/boost"]
	path = monero-sys/boost
	url = https://github.com/boostorg/boost.git
[submodule "monero-sys/nettle"]
	path = monero-sys/nettle
	url = https://git.lysator.liu.se/nettle/nettle.git
[submodule "monero-sys/unbound"]
	path = monero-sys/unbound
	url = https://github.com/NLnetLabs/unbound.git
